In [2]:
import pandas as pd

In [13]:
# The 'stores_date' DF holds the overall stores informations, such as their id and
# the name and e-mail of their manager. 
stores_date = pd.read_excel('Emails.xlsx')

# Now, the 'sellings' DataFrame is storing a record for every individual selling
# made in any of the brand's shops.
sellings = pd.read_excel('Vendas.xlsx')

In [16]:
stores = pd.read_csv('Lojas.csv', delimiter = ';')

In [21]:
stores_date

,Loja,Gerente,E-mail
0,Iguatemi Esplanada,Helena,pythonimpressionador+helena@gmail.com
1,Shopping Midway Mall,Alice,pythonimpressionador+alice@gmail.com
2,Norte Shopping,Laura,pythonimpressionador+laura@gmail.com
3,Shopping Iguatemi Fortaleza,Manuela,pythonimpressionador+manuela@gmail.com
4,Shopping União de Osasco,Valentina,pythonimpressionador+valentina@gmail.com
5,Shopping Center Interlagos,Sophia,pythonimpressionador+sophia@gmail.com
6,Rio Mar Recife,Isabella,pythonimpressionador+isabella@gmail.com
7,Salvador Shopping,Heloisa,pythonimpressionador+heloisa@gmail.com
8,Rio Mar Shopping Fortaleza,Luiza,pythonimpressionador+luiza@gmail.com
9,Shopping Center Leste Aricanduva,Julia,pythonimpressionador+julia@gmail.com
10,Ribeirão Shopping,Lorena,pythonimpressionador+lorena@gmail.com
11,Shopping Morumbi,Livia,pythonimpressionador+livia@gmail.com
12,Parque Dom Pedro Shopping,Maria Luiza,pythonimpressionador+maria_luiza@gmail.com
13,Bourbon Shopping SP,Cecilia,pythonimpressionador+cecilia@gmail.com
14,Palladium Shopping Curitiba,Eloa,pythonimpressionador+eloa@gmail.com
15,Passei das Águas Shopping,Miguel,pythonimpressionador+miguel@gmail.com
16,Center Shopping Uberlândia,Arthur,pythonimpressionador+arthur@gmail.com
17,Shopping Recife,Heitor,pythonimpressionador+heitor@gmail.com
18,Shopping Vila Velha,Bernardo,pythonimpressionador+bernardo@gmail.com
19,Shopping SP Market,Davi,pythonimpressionador+davi@gmail.com
20,Shopping Eldorado,Theo,pythonimpressionador+theo@gmail.com
21,Shopping Ibirapuera,Lorenzo,pythonimpressionador+lorenzo@gmail.com
22,Novo Shopping Ribeirão Preto,Gabriel,pythonimpressionador+gabriel@gmail.com
23,Iguatemi Campinas,Pedro,pythonimpressionador+pedro@gmail.com
24,Shopping Barra,Benjamin,pythonimpressionador+benjamin@gmail.com
25,Diretoria,Diretoria,pythonimpressionador+diretoria@gmail.com

In [20]:
sellings

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Valor Final num
0,1,2019-01-01,1,Sapato Estampa,1,358,358,358
1,1,2019-01-01,1,Camiseta,2,180,360,360
2,1,2019-01-01,1,Sapato Xadrez,1,368,368,368
3,2,2019-01-02,3,Relógio,3,200,600,600
4,2,2019-01-02,3,Chinelo Liso,1,71,71,71
...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,17,Short Listrado,2,102,204,204
100995,69996,2019-12-26,17,Mochila,4,270,1080,1080
100996,69996,2019-12-26,17,Pulseira Estampa,1,87,87,87
100997,69997,2019-12-26,11,Camisa Listrado,1,108,108,108
100998,69997,2019-12-26,11,Short Linho,2,133,266,266

In [17]:
stores

    ID Loja                              Loja
0         1                Iguatemi Esplanada
1         2              Shopping Midway Mall
2         3                    Norte Shopping
3         4       Shopping Iguatemi Fortaleza
4         5          Shopping União de Osasco
5         6        Shopping Center Interlagos
6         7                    Rio Mar Recife
7         8                 Salvador Shopping
8         9        Rio Mar Shopping Fortaleza
9        10  Shopping Center Leste Aricanduva
10       11                 Ribeirão Shopping
11       12                  Shopping Morumbi
12       13         Parque Dom Pedro Shopping
13       14               Bourbon Shopping SP
14       15       Palladium Shopping Curitiba
15       16         Passei das Águas Shopping
16       17        Center Shopping Uberlândia
17       18                   Shopping Recife
18       19               Shopping Vila Velha
19       20                Shopping SP Market
20       21                 Shopping Eldorado
21       22               Shopping Ibirapuera
22       23      Novo Shopping Ribeirão Preto
23       24                 Iguatemi Campinas
24       25                    Shopping Barra

In [10]:
# Grouping the sellings data accordingly to the date and store.
# 'revenues' have the total revenue obtained by the stores in each day of the year.
revenues = sellings.groupby(['Data','ID Loja'])['Valor Final num'].sum()

# 'different_products' stores the number of different products sold.
different_products = sellings.groupby(['Data','ID Loja'])['Produto'].nunique()

# Extracting the average ticket is going to be a little more difficult. But 
# essentially we'll get the average revenue earned for every day of the year.
average_ticket = (sellings.groupby(['Data','ID Loja' ,'Código Venda'])['Valor Final num'].sum()
 .groupby(['Data','ID Loja' ]).mean())

In [22]:
# Importing the necessary modules to the email sending.
import smtplib
from email.message import EmailMessage

# Through this nested loop, we are going to obtain the stores' general informations
# (manager name and e-mail) and their daily performance data.
for store_id in stores['ID Loja']:
  
    # Getting the store's basic informations.
    store_name = stores[stores['ID Loja'] == store_id]['Loja'].values[0]
    manager = stores_date[stores_date['Loja'] == store_name]['Gerente'].values[0]
    manager_email = stores_date[stores_date['Loja'] == store_name]['E-mail'].values[0]
    
    # For each date when a given store has made a selling, the day's
    # total revenue along the number of different products sold and the average ticket
    # will be stored in variables.
    for date in sellings[sellings['ID Loja'] == store_id]['Data'].unique():
        revenue = revenues.xs([date, store_id], level=[0,1]).values[0]
        no_different_products = (different_products.xs([date, store_id], level=[0,1])
                                                                     .values[0])
        ticket = average_ticket.xs([date, store_id], level=[0,1]).values[0]

C:\Users\UTILIS~1\AppData\Local\Temp/ipykernel_17220/3058937186.py:18: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  revenue = revenues.xs([date, store_id], level=[0,1]).values[0]
C:\Users\UTILIS~1\AppData\Local\Temp/ipykernel_17220/3058937186.py:19: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  no_different_products = (different_products.xs([date, store_id], level=[0,1])
C:\Users\UTILIS~1\AppData\Local\Temp/ipykernel_17220/3058937186.py:21: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  ticket = average_ticket.xs([date, store_id], level=[0,1]).values[0]

In [24]:
# Creating the email message. The report will be displayed as an HTML table.
msg = EmailMessage()
msg['From'] = 'Write_your_email@gmail.com'
msg['To'] = manager_email
msg['Subject'] = f'{pd.to_datetime(date).date()} One Page Report'

# 'add_alternative' enables us to use HTML structure in the message. Just remember 
# to set the 'subtype' argument to 'html'.
msg.add_alternative(
    f'''
    <p>Dear {manager},</p>
    <p>You can see below the One Page Report produced in respect to your store\'s sales
    performance on {pd.to_datetime(date).date()}.</p>
    <br>
    <table>
        <tr>
            <th>
                Metric
            </th>
            <th>
                Expected Value
            </th>
            <th>
                 Value Obtained
            </th>
            <th>
                 Metric Status
            </th>                    
        </tr>

        <tr>
            <td>
                Revenue
            </td>
            <td>
                R$ 1,000.00
            </td>
            <td>
                R$ {revenue :,.2f}
            </td>
            <td>
                <font color={'green' if revenue >=1000 else 'red'}>
                    {'Achieved' if revenue >=1000 else 'Failed'} </font>
            </td>

        </tr>

        <tr>
            <td>
                No. of Diff. Products
            </td>
            <td>
                4
            </td>
            <td>
                {no_different_products}
            </td>
            <td>
                <font color={'green' if no_different_products >=4 else 'red'}>
                    {'Achieved' if no_different_products >=4 else 'Failed'} </font>
            </td>
        </tr>

        <tr>
            <td>
                Average Ticket
            </td>
            <td>
                R$ 500.00
            </td>
            <td>
                R$ {ticket :,.2f}
            </td>
            <td>
                <font color={'green' if ticket >=500 else 'red'}>
                    {'Achieved' if ticket >=500 else 'Failed'} </font>
            </td> 
        </tr>
    </table>
    <br>
    <p>Best Regards,</p>
    <p>The Data Analysis Team</p>
    '''
    ,subtype='html')

In [42]:
from IPython.core.display import display, HTML

In [54]:
html_part = f'''
    <p>Dear {manager},</p>
    <p>You can see below the One Page Report produced in respect to your store\'s sales
    performance on {pd.to_datetime(date).date()}.</p>
    <br>
    <table>
        <tr>
            <th>
                Metric
            </th>
            <th>
                Expected Value
            </th>
            <th>
                 Value Obtained
            </th>
            <th>
                 Metric Status
            </th>                    
        </tr>

        <tr>
            <td>
                Revenue
            </td>
            <td>
                R$ 1,000.00
            </td>
            <td>
                R$ {revenue :,.2f}
            </td>
            <td>
                <font color={'green' if revenue >=1000 else 'red'}>
                    {'Achieved' if revenue >=1000 else 'Failed'} </font>
            </td>

        </tr>

        <tr>
            <td>
                No. of Diff. Products
            </td>
            <td>
                4
            </td>
            <td>
                {no_different_products}
            </td>
            <td>
                <font color={'green' if no_different_products >=4 else 'red'}>
                    {'Achieved' if no_different_products >=4 else 'Failed'} </font>
            </td>
        </tr>

        <tr>
            <td>
                Average Ticket
            </td>
            <td>
                R$ 500.00
            </td>
            <td>
                R$ {ticket :,.2f}
            </td>
            <td>
                <font color={'green' if ticket >=500 else 'red'}>
                    {'Achieved' if ticket >=500 else 'Failed'} </font>
            </td> 
        </tr>
    </table>
    <br>
    <p>Best Regards,</p>
    <p>The Data Analysis Team</p>
    '''

In [55]:
display(HTML(html_part))